div.home {
    background-image: linear-gradient(to bottom right, #924141, #924141, #d9d9d9);
    width: 100%;
    height: 300%;
}

section.background img {
    position: relative;
    width: 100%;
    height: 3345px;
    opacity: 0.1;
}

section.welcome {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 50px;
    z-index: 1;
    width: 500px;
}

section.welcome h1 {
    position: absolute;
    font-size: 50px;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.nav ul {
    position: absolute;
    top: 15%;
    left: 6%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

section.nav ul li {
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

section.nav a {
    color: black;
    text-decoration: none;
}

section.banner {
    position: absolute;
    overflow: hidden;
    top: 23%;
    left: 10%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    background-color: #426E92;
}

.carousel {
    position: absolute;
    /* left: -1px; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    background-color: #426E92;
}



.carousel .slide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.paper {
    margin: 0 10px;
    position: relative;
    background-color: #426E92;
    color: black;
    font-size: 30px;

    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.paper h2 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paper p {
    color: black;
    text-decoration: none;
}

.paper img {
    width: 500px;
    height: 200px;
    padding: none;
    margin: none;
}

section.filter {
    position: absolute;
    top: 45%;
    left: 10%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

section.filter ul {
    position: absolute;
    top: 15%;
    left: 6%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

section.filter ul li {
    font-size: 20px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-right: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

section.filter ul li img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    border-radius: 15px;
}

.pilates {
    background-color: #545454
}

.pesas {
    background-color: #D9D9D9;
}

.cardio {
    background-color: #9F8A88;
}

section.filter div {
    color: black;
    text-decoration: none;
    padding-top: 10px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    cursor: default;
}

.cards {
    position: absolute;
    top: 90%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* .MuiContainer-root MuiContainer-maxWidthLg results css-1oqqzyl-MuiContainer-root {
    position: absolute;
    top: 82%;
    left: 5%;
} */


section.results ul {
    position: absolute;
    top: 60%;
    left: 8%;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
}

section.results ul li {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    list-style: none;
}


@media screen and (min-width: 1400px) and (min-width: 900px) {
    section.background img {
        height: 2500px;
    }

    section.welcome {
        font-size: 100px;
        width: 1200px;
        left: 5%;
        top: 2%;
    }

    section.welcome h1 {
        position: absolute;
        margin-bottom: 0;
        font-size: 100px;
        width: 1200px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    section.nav ul {
        top: 19%;
        left: 3%;
        gap: 60px;
        width: 60px;
    }

    section.nav ul li {
        font-size: 30px;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        padding: 20px 70px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: 300px;
        height: 50px;
    }

    section.banner {
        width: 1200px;
        height: 390px;
        left: 5%;
        top: 32%;
    }

    .carousel {
        width: 100%;
        height: 100%;

    }

    .paper img {
        width: 1200px;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    section.filter {
        top: 68%;
        left: 3%;
    }

    section.filter ul {
        height: 10px;
        width: 10px;
        gap: 5px;
    }

    section.filter ul li {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: flex-end;
        padding-top: 5px;
        padding-left: 300px;
        padding-bottom: 40px;
        padding-right: 30px;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    section.results ul {
        top: 80%;
        left: 2%;
    }

    section.results ul li {
        width: 200px;
        height: 100px;
        font-size: 20px;

    }

    section.results ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        top: 80%;
    }
}

/* Media Queries */
@media screen and (max-width: 730px) and (max-width: 935px) {

    section.welcome {
        font-size: 30px;
        width: 300px;
        left: 5%;
    }

    section.nav ul {
        top: 15%;
        left: 3%;
    }

    section.banner {
        width: 480px;
        left: 5%;
    }

    .carousel {
        width: 100%;
        height: 200px;

    }

    section.filter {
        top: 50%;
        left: 5%;
    }


    section.results ul {
        top: 70%;
        left: 5%;
        width: 300px;
    }
}

@media screen and (max-width: 660px) and (max-width: 800px) {



    section.welcome {
        font-size: 30px;
        width: 280px;
        left: 5%;
    }

    section.welcome h1 {
        font-size: 35px;

    }

    section.nav ul {
        top: 15%;
        left: 0%;
    }

    section.banner {
        width: 400px;
        left: 3%;
    }

    .carousel {
        width: 100%;
        height: 200px;

    }

    section.filter {
        top: 50%;
        left: 0%;
    }

    section.filter ul {
        height: 10px;
        width: 10px;
        gap: 20px;
    }

    section.results ul {
        top: 70%;
        left: 5%;
        width: 300px;
    }
}

/* @media screen and (max-width: 378px) and (max-width: 900px) {


    section.background img {
        height: 2530px;
    }

    section.welcome {
        font-size: 30px;
        width: 250px;
        left: 5%;
    }

    section.welcome h1 {
        position: absolute;
        margin-bottom: 0;
        font-size: 30px;
        width: 500px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    section.nav ul {
        top: 12%;
        left: 0%;
    }

    section.banner {
        width: 350px;
        height: 180px;
        left: 5%;
        top: 20%;
    }

    .carousel {
        width: 100%;
        height: 180px;

    }

    section.filter {
        top: 45%;
        left: 0%;
    }

    section.filter ul {
        height: 10px;
        width: 10px;
        gap: 5px;
    }

    section.results ul {
        top: 65%;
        left: 2%;
        width: 300px;
    }
} */

@media screen and (max-width: 378px) and (max-width: 668px) {


    section.background img {
        height: 2000px;
    }

    section.welcome {
        font-size: 30px;
        width: 100px;
        left: 5%;
    }

    section.welcome h1 {
        position: absolute;
        margin-bottom: 0;
        font-size: 20px;
        width: 300px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    section.nav ul {
        top: 10%;
        left: -4%;
        gap: 5px;
    }

    section.nav ul li {
        padding: 2px 5px;
    }

    section.nav a {
        font-size: 10px;
        display: flex;
    }

    section.banner {
        width: 250px;
        height: 100px;
        left: 5%;
        top: 16%;
    }

    .carousel {
        width: 100%;
        height: 180px;

    }

    section.filter {
        top: 30%;
        left: -6%;
    }

    section.filter div {
        font-size: 13px;
    }

    section.filter ul {
        height: 10px;
        width: 10px;
        gap: 5px;
    }

    section.filter a {
        font-size: 10px;

    }

    section.filter ul li {
        padding: 5px 18px;
        height: 60px;
        width: 60px;
    }

    section.filter ul li img {
        height: 40px;
        width: 40px;

    }

    section.results ul {
        top: 40%;
        left: -12%;
        width: 300px;
    }

    section.results ul li {
        width: 50px;
        height: 50px;
        font-size: 13px;

    }
}