/* body .MuiTypography-colorTextSecondary {
    /* color: rgba(0, 0, 0, 0.54); */
/* dont delete */


.css-11lq3yg-MuiGrid-root {
    justify-content: space-evenly;
}

.profile2div {
    /* background-image: url(/public/back.jpg); */
    /* background-image: url(/public/back2.jpg); */
    /* background-image: url(/public/back6.jpg); */
    /* background-image: url(/public/back8.jpg);
    /* background-color: lightgrey; */
    background-image: url(/back10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 56px;
    /* justify-content: center; */

}

/* @media screen and (max-width: 935px) {
    .profile2div {

        height: 260%;

    }
} */

.userInfoDiv {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 10px; */

}

.backButton {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 825px) {

    .profile2div {

        height: 155%;

    }

}


@media screen and (max-width: 640px) {

    .profile2div {
        margin-top: 56px;
        justify-content: center;
        height: 145%;
    }

}

@media screen and (max-width: 430px) {

    .profile2div {

        height: 200%;

    }

}

@media screen and (max-width: 375px) {
    .profile2div {

        height: 240%;

    }
}

@media screen and (orientation: landscape) {
    .profile2div {
        height: 370%;
        /* display: flex; */
    }
}

.MuiCardHeader-root {
    box-sizing: border-box;
}

.cardContent {
    display: flex;
    box-sizing: border-box;

    p {
        color: rgb(255, 255, 255);
        /* margin-top: -28px; */
    }
}


.lastDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}