.profileEditDiv {
    background-image: url(/public/back.jpg);
    /* background-color: lightgrey; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 56px;
}

@media screen and (max-width: 825px) {

    .profileEditDiv {

        height: 260%;

    }

}


@media screen and (max-width: 600px) {

    .profileEditDiv {
        margin-top: 56px;
    }

}

@media screen and (orientation: landscape) {
    .profileEditDiv {
        height: 370%;
        /* Add your styles for landscape orientation here */
    }
}