/* html {
    height: 100%;
} */

div.loginn {
    background-image: linear-gradient(to bottom right, #924141, #924141, #d9d9d9);
    height: 100%;
    width: 100%;
}

.welcome h1 {
    display: flex;
    justify-content: center;
}

section.logoimage {
    display: flex;
    justify-content: space-around;
    position: relative;

}

section.logoimage img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 15px;
    /* border-radius: 10px 20px 30px 40px; */
}

section.titanimage img {
    width: 200px;
    height: 200px;
    border-radius: 10px 20px 800px 40px;
    position: absolute;
    opacity: 0.5;
}

section.ropeimage img {
    width: 200px;
    height: 200px;
    margin-left: 38%;
    border-radius: 800px 20px 30px 40px;
    position: absolute;
    top: 86%;
    bottom: 1px;
    right: 0px;
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

form input.user {
    width: 200px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form input.LogInB {
    background: #426E92;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

section.formsection {
    text-align: center;
    /* padding: 10px 20px; */
    padding-top: -10px;
    color: white;
    position: relative;
}

section.formsection a {
    color: white;
    text-decoration: none;
}



button.register {
    background: #426E92;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}


@media screen and (max-width: 432px) and (max-height: 935px) {

    div.loginn {
        height: 120%;
        width: 100%;
    }

    section.logoimage img {
        margin-top: 100px;

    }

    .form {
        margin-top: 10px;
    }
}